body {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-family: "Lobster", cursive;
    font-family: "Cabin", sans-serif;
    color: #373a3c; */
}

body * {
    margin: 0;
    padding: 0;
    border: 0;
}
h1, h2, p {
    color: white;
}

.bg-celeste {
    background-color: #279DA9;
}
.bg-black {
    background-color: black;
}

.maxheight-image {
    max-height: 850px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-top: 2px solid #279DA9;
}

div.bg-celeste {
    height: 40px;
    width: 100%;
}
.height75 {
    height: 75px;
}
.iconos {
    color: #fff;
}

/* Extra Small */
@media screen and (max-width: 576px) {
    
}
/* Small */
@media screen and (min-width: 576px) {
    
}
/* Medium */
@media screen and (min-width: 768px) {
    
}
/* Large */
@media screen and (min-width: 992px) {
    
}
/* Extra large */
@media screen and (min-width: 1200px) {
    .maxheight-image {
        max-height: 750px;
    }
}
/* Extra Extra Large */
@media screen and (min-width: 1500px) {
    .maxheight-image {
        max-height: 850px;
    }
}